{% extends "base.html" %}

{% block content %}
<h1>Variants</h1>

N Variants: {{ n_variants }} 

<table class="table">
    <thead>
        <tr>
            <th>CHROM</th>
            <th>POS</th>
            <th>INDEX</th>
        </tr>
    </thead>
    <tbody>
        {% for variant in variants %}
            <tr>
                <td>{{variant.chr}}</td>
                <td>{{variant.pos}}</td>
                <td>{{variant.index}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}

