{% extends "base.html" %}
{% load i18n %}
{% load upload_tags %}

{% block extra_css %}
    <!-- Generic page styles -->

    <!-- blueimp Gallery styles -->
    <link rel="stylesheet" href="{{ STATIC_URL }}jquery-fileupload/css/blueimp-gallery.min.css">
    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link rel="stylesheet" href="{{ STATIC_URL }}jquery-fileupload/css/jquery.fileupload-ui.css">
    <!-- CSS adjustments for browsers with JavaScript disabled -->
    <noscript><link rel="stylesheet" href="{{ STATIC_URL }}jquery-fileupload/css/jquery.fileupload-ui-noscript.css"></noscript>
    <script src="{{ STATIC_URL }}jquery-1.7.2.min.js"></script>
    <!-- Shim to make HTML5 elements usable in older Internet Explorer versions -->
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    

{% endblock %}


{% block content %}

    <div class="page-header">
        <h1>Add VCFs</h1>
        <h2>Here you can upload your VCF files to the system. <br>
        We support the following formats: VCF, VCF.GZ, VCF.ZIP and VCF.RAR</h2>
        <p><font color='red'><b>
The software presents features that ensure privacy of the data submitted. First, submitters are provided with an username and password and only they can retrieve the clinical data. Second, names are not required -- patients need only to be identified by a code name or number provided by the submitter. Users who have not accessed the program in a period of three months, will be consulted by email to ascertain whether they wish to maintain the data stored or whether it can be deleted. If there is no response in one week, the data will be erased.

All data entered Mendel,MD in a public mode (without username and password) will be deleted in 24 hours.
</font></b>
</p>
        <p>An exome VCF file should take around 20 minutes to be annotated and inserted to the database. A genome VCF file should take around 8 hours.<br>
        You will receive an e-mail as soon this process finishes with the link to start analysing your individuals.</p> You can take this time to read our <a href="{% url 'docs' %}" target="_blank">Documentation</a> about how to filter your variants.
    </div>

    <form id="fileupload" method="post" action="." enctype="multipart/form-data">{% csrf_token %}
        
        
        <input name="name" id="id_name" type="hidden" value="1">

        <input id="id_description" type="hidden" name="description" value=" " />
        
        <div class="row fileupload-buttonbar">
            <div class="col-lg-7">
                <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="btn btn-success fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Please, Select your VCF files...</span>
                    <input id="id_variants_file" type="file" name="file" multiple>
                </span>
                <!-- The loading indicator is shown during file processing -->
                <span class="fileupload-loading"></span>
            </div>
            <!-- The global progress information -->
            <div class="col-lg-5 fileupload-progress fade">
                <!-- The global progress bar -->
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                </div>
                <!-- The extended global progress information -->
                <div class="progress-extended">&nbsp;</div>
            </div>
        </div>
        
        <!-- The table listing the files available for upload/download -->
        <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
        <a href="{% url 'dashboard' %}">
        <span class="btn btn-primary start">
            <span>Click here when your files have finished uploading!</span>
        </span>
        </a>
    </form>

{% upload_js %}

<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="{{ STATIC_URL }}jquery-fileupload/js/vendor/jquery.ui.widget.js"></script>
<!-- The Templates plugin is included to render the upload/download listings -->
<script src="{{ STATIC_URL }}jquery-fileupload/js/tmpl.min.js"></script>
<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
<script src="{{ STATIC_URL }}jquery-fileupload/js/load-image.min.js"></script>
<!-- The Canvas to Blob plugin is included for image resizing functionality -->
<script src="{{ STATIC_URL }}jquery-fileupload/js/canvas-to-blob.min.js"></script>
<!-- Bootstrap JS is not required, but included for the responsive demo navigation -->
<script src="{{ STATIC_URL }}jquery-fileupload/js/bootstrap.min.js"></script>
<!-- blueimp Gallery script -->
<script src="{{ STATIC_URL }}jquery-fileupload/js/jquery.blueimp-gallery.min.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="{{ STATIC_URL }}jquery-fileupload/js/jquery.iframe-transport.js"></script>
<!-- The basic File Upload plugin -->
<script src="{{ STATIC_URL }}jquery-fileupload/js/jquery.fileupload.js"></script>
<!-- The File Upload processing plugin -->
<script src="{{ STATIC_URL }}jquery-fileupload/js/jquery.fileupload-process.js"></script>
<!-- The File Upload image preview & resize plugin -->
<script src="{{ STATIC_URL }}jquery-fileupload/js/jquery.fileupload-image.js"></script>
<!-- The File Upload audio preview plugin -->
<script src="{{ STATIC_URL }}jquery-fileupload/js/jquery.fileupload-audio.js"></script>
<!-- The File Upload video preview plugin -->
<script src="{{ STATIC_URL }}jquery-fileupload/js/jquery.fileupload-video.js"></script>
<!-- The File Upload validation plugin -->
<script src="{{ STATIC_URL }}jquery-fileupload/js/jquery.fileupload-validate.js"></script>
<!-- The File Upload user interface plugin -->
<script src="{{ STATIC_URL }}jquery-fileupload/js/jquery.fileupload-ui.js"></script>
<!-- The main application script -->
<script src="{{ STATIC_URL }}jquery-fileupload/js/main.js"></script>
<script src="{{ STATIC_URL }}jquery-fileupload/js/locale.js"></script>
<script src="{{ STATIC_URL }}jquery-fileupload/js/csrf.js"></script>
<!-- The XDomainRequest Transport is included for cross-domain file deletion for IE8+ -->
<!--[if gte IE 8]>
<script src="{{ STATIC_URL }}jquery-fileupload/js/cors/jquery.xdr-transport.js"></script>
<![endif]-->
<script>
$('#fileupload').fileupload({
    autoUpload: true,
    sequentialUploads: true
});
</script>

<script>
    $(document).ready(function() { $("#id_shared_with_groups").select2(
        { width: 'off',
        placeholder: "Select your Groups", }
        ); });
    
    
    

</script>

{% endblock %}

{% block javascript %}
<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>


<script type="text/javascript" src="{{ STATIC_URL }}jquery-ui-bootstrap/js/jquery-ui-1.9.0.custom.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}jquery-ui-bootstrap/js/init-ui.js"></script>

{% endblock %}
