{% extends "base.html" %}

{% block content %}
<h1>{{analysis.name}}</h1>

<a href="#">Edit Analysis</a>
<a href="{% url 'analysis-run' analysis.id %}">Run Analysis</a>

<div class="row">

<div class="col-md-6">

<table class="table">

<tr><th>ID</th><td>{{analysis.id}}</td></tr>
<tr><th>User</th><td>{{analysis.user}}</td></tr>
<tr><th>Name</th><td>{{analysis.name}}</td></tr>
<tr><th>Manifest</th><td>{{analysis.manifest}}</td></tr>
<tr><th>Status</th><td>{{analysis.status}}</td></tr>
<tr><th>Action</th><td>{{analysis.action}}</td></tr>
<tr><th>Md5</th><td>{{analysis.md5}}</td></tr>
<tr><th>Creation_date</th><td>{{analysis.creation_date}}</td></tr>
<tr><th>Modified_date</th><td>{{analysis.modified_date}}</td></tr>
<tr><th>Options</th><td></td></tr>

</table>

</div>
</div>

{% endblock content %}

