{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% load paginator %}

{% block title %}{% trans "Analyses" %}{% endblock %}

{% block content %}
<h1>Analyses</h1>

    <div class="btn-group">
        <a class="btn btn-primary" href="{% url 'analysis-create' %}">{% trans "Create new Analysis" %}</a>
    </div>

<br><br>

{% if analyses %}
<table class="table table-bordered table-striped table-condensed">
	<tr>
		<th>id</th>
		<th>status</th>
		<th width="20%">name</th>
		<th width="20%">description</th>
		<th>members</th>
		<th>Options</th>
	</tr>
	{% for analysis in analyses %}
	<tr>
		<td>{{analysis.id}}</td>
		<td>{{analysis.status}}</td>
		<td>{{analysis.name}}</td>
		<td>{{analysis.description}}</td>
		<td></td>
		<td>
			<a href="{% url 'analysis-detail' analysis.id %}" class="btn btn-primary">Detail</a>
			<a href="{% url 'analysis-update' analysis.id %}" class="btn btn-primary">Update</a>
			<a href="{% url 'analysis-delete' analysis.id %}" class="btn btn-primary">Delete</a>
		</td>
	</tr>
	{% endfor %}
</table>
{% else %}
You still have no analyses created. <br>

Please create your analyses into the system!

{% endif %}
{% endblock %}

