wheel
Django
psycopg2-binary
django-allauth
django-debug-toolbar
django-crispy-forms
SOAPpy
Sphinx
Fabric3
pysam
pynnotator
pyvcf3
celery
#django-celery
django-celery-results
django-appconf
gunicorn
boto3
django-formtools
dj-database-url
django-gravatar2
#pandas
crispy-bootstrap3
