Django
psycopg2
django-allauth
django-debug-toolbar
django-crispy-forms
SOAPpy
Sphinx
Fabric3
pysam
pynnotator
pyvcf
celery==3.1.25
django-celery-results
django-celery-beat
django-celery
django-appconf
gunicorn
boto3
numpy
cyvcf2