{% load staticfiles %}

<!-- start navigation -->
<nav class="navbar navbar-default navbar-fixed-top templatemo-nav" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
			</button>
			<a href="{% url 'index' %}" class="navbar-brand external">Mendel,MD</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right text-uppercase">
				<li><a href="#home">Home</a></li>
				<li><a href="#feature">Features</a></li>
				<li><a href="#pricing">Pricing</a></li>
				<li><a href="#download">Download</a></li>
				<li><a href="#contact">Contact</a></li>
				<li><a href="{% url 'account_login' %}" class="external">Login</a></li>
				<li><a id="google_login" href="/accounts/google/login"  class="external"><img src="{% static "img/btn_google_signin_small.png" %}"></a></li>
			</ul>
		</div>
	</div>
</nav>
<!-- end navigation -->
