<table class="table">
<thead>
<tr>
    <th># <input type="checkbox" id="files_select_all"> ID</th>
    <th>Name</th>
    <th>Sample</th>
    <th>Status
        <select name="status" id="status" onchange="this.form.submit()">
            <option value="">Select</option>
            <option value="checked">Checked</option>
          <option value="scheduled">Scheduled</option>
        </select>
    </th>
    <th>Last output</th>
    <th>File Type</th>
    <th>Extension
        <select name="extension" id="extension" onchange="this.form.submit()">
            <option value="">Select</option>
            {% for key,value in files_summary.extension.items %}
            <option value="{{key}}">{{key}}</option>
            {% endfor %}
       </select>
    </th>
    <th>Size
        <a href="?{{query}}orderby=size&order=asc"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
        <a href="?{{query}}orderby=size&order=desc"><i class="fa fa-arrow-down" aria-hidden="true"></i></th></a>
    <th>Location</th>
    <th>Options</th>
</tr>
</thead>
<tbody>
{% for file in files %}
<tr>
    <td><input type="checkbox" name="files" class="files" id="option{{file.id}}" value="{{file.id}}" />{{file.id}}</td>
    <td>
        <a href="{% url 'file-view' file.id %}">{{file.name}}</a>
    </td>
    <td>{{ file.sample_set.all }}</td>
    <td>{{ file.status }}</td>
    <td><pre>{{ file.last_output|linebreaks }}</pre></td>
    <td>{{ file.file_type }}</td>
    <td>{{ file.extension }}</td>
    <td>{{ file.size|filesizeformat }}</td>
    <td>{{ file.location }}</td>
    <td>

        <a href="{% url 'files-runtask' %}?action=check&file_id={{file.id}}">Run Task</a>
    	<a href="{% url 'file-update' file.id %}">Edit</a>
    	<a href="{% url 'file-delete' file.id %}">Delete</a>
    </td>
    
</tr>
{% endfor %}
</tbody>
</table>