<div class="col-md-8">

    <div class="box">
    <div class="box-header">
      <h3 class="box-title">Actions</h3>
    </div>

    {% if user.is_staff %}
    <a href="{% url 'files-import' %}" type="button" class="btn btn-success">Import Files</a>
    {%endif %}


    <div class="box-body">
      
      <a class="btn btn-app" href="{% url 'upload' %}">
        <i class="fa fa-plus"></i> Upload Files
      </a>
      <a class="btn btn-app" href='javascript: submitform("check")'>
        <i class="fa fa-search"></i> Check
      </a>
      <a class="btn btn-app" href='javascript: submitform("download")'>
        <i class="fa fa-cloud-download"></i> Download
      </a>
      <a class="btn btn-app" href='javascript: submitform("delete")'>
        <i class="fa fa-trash-o"></i> Delete
      </a>
      <a class="btn btn-app">
        <i class="fa fa-edit"></i> Edit
      </a>
      <a class="btn btn-app" href='javascript: submitform("run")'>
        <i class="fa fa-play"></i> Run
      </a>
      <a class="btn btn-app" href='javascript: submitform("analysis")'>
        <i class="fa fa-plus" aria-hidden="true"></i> Create Analysis
      </a>
      <a class="btn btn-app" href='javascript: submitform("compress")'>
        <i class="fa fa-compress" aria-hidden="true"></i> Compress
      </a>
      <a class="btn btn-app" href='javascript: submitform("expand")'>
        <i class="fa fa-expand" aria-hidden="true"></i> Expand
      </a>
      <a class="btn btn-app" href='javascript: submitform("upload")'>
        <i class="fa fa-cloud-upload" aria-hidden="true"></i> Upload
      </a>
      <a class="btn btn-app" href='javascript: submitform("download")'>
        <i class="fa fa-cloud-download" aria-hidden="true"></i> Download
      </a>

    </div>
    <!-- /.box-body -->
    </div>

</div>