

<div class="row">
<div class='col-md-6'>
<table class="table">
    <thead>
        <tr>
            <th>Status</th>
            <th>Count</th>
        </tr>
    </thead>
    <tbody>
        {% for key,value in files_summary.status.items %}
        <tr>
            <td>{{key}}</td>
            <td>{{value}}</td>
        </tr>
        {% endfor %}
        <tr>
            <td>Total</td><td>{{n_files}}</td>
        </tr>
    </tbody>
</table>
<table class="table">
    <thead>
        <tr>
            <th>Extension</th>
            <th>Count</th>
        </tr>
    </thead>
    <tbody>
        {% for key,value in files_summary.extension.items %}
        <tr>
            <td>{{key}}</td>
            <td>{{value}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
</div>