{% extends "base.html" %}

{% load humanize %}


{% block content %}
<h1>Files</h1>

{% include 'files/files_summary_table.html' %}

{% include 'files/files_navbar.html' %}
<br>
Total Size: {{files_summary.total_size|filesizeformat}}

<form action="." method="post" id='files_form'>
    {% csrf_token %}
<div class="row">
<div class='col-md-6'>    

<div class="input-group input-group-sm">
<input class="form-control" type="text" name="query">
    <span class="input-group-btn">
      <button type="submit" class="btn btn-primary">Search</button>
    </span>
</div>

</div>
</div>
<input type="hidden" id="action" name="action" value="">

{% include 'files/file_list.html' %}

{% endblock content %}


{% block extra_js %}
<script type="text/javascript" >
$("#files_select_all").change(function() {
  $(".files:checkbox").attr('checked', this.checked);
});
</script>
<script type="text/javascript">
    function submitform(action)
    {
       
       document.getElementById("action").value = action;
       document.getElementById("files_form").submit();

  
    }
</script>

{% endblock %}
