{% extends "base.html" %}

{% load humanize %}


{% block content %}
<h1>Files</h1>

{% include 'files/files_summary_table.html' %}

{% if user.is_staff %}
<a href="{% url 'files-import' %}" type="button" class="btn btn-success">Import Files</a>
{%endif %}

{% include 'files/file_list.html' %}

{% endblock content %}


{% block extra_js %}
<script type="text/javascript" >
$("#files_select_all").change(function() {
  $(".files:checkbox").attr('checked', this.checked);
});
</script>
<script type="text/javascript">
    function submitform(action)
    {
       
       document.getElementById("action").value = action;
       document.getElementById("files_form").submit();

  
    }
</script>

{% endblock %}
