{% extends "base.html" %}

{% block content %}
<h1>Files</h1>

<a href="{% url 'files-settings-index' %}" type="button" class="btn btn-success">Settings</a>
<a href="{% url 'files-import' %}" type="button" class="btn btn-success">Import Files</a>

{% include 'files/files_navbar.html' %}

<form action="{% url 'files-bulk-action' %}" method="post" id='files_form'>
    {% csrf_token %}
<input type="hidden" id="action" name="action" value="">


<table class="table">
<thead>
<tr>
    <th># {{file.id}} <input type="checkbox" id="select_all"> ID</th>
    <th>Name</th>
    <th>Status</th>
    <th>Extension</th>
    <th>Location</th>
    <th>Options</th>
</tr>
</thead>
<tbody>
{% for file in files %}
<tr>
    <td><input type="checkbox" name="files" class="files" id="option{{file.id}}" value="{{file.id}}" /></td>
    <td>
        <a href="{% url 'file-view' file.id %}">{{file.name}}</a>
    </td>
    <td>{{ file.status }}</td>
    <td>{{ file.file_type }}</td>
    <td>{{ file.location }}</td>
    <td>
    	<a href="{% url 'file-update' file.id %}">Edit</a>
    	<a href="{% url 'file-delete' file.id %}">Delete</a>
    </td>
    
</tr>
{% endfor %}
</tbody>
</table>

{% endblock content %}


{% block extra_js %}
<script type="text/javascript" >
$("#select_all").change(function() {
  $(".files:checkbox").attr('checked', this.checked);
});
</script>
<script type="text/javascript">
    function submitform(action)
    {
       
       document.getElementById("action").value = action;
       document.getElementById("files_form").submit();

  
    }
</script>

{% endblock %}