{% extends "base.html" %}

{% load i18n %}
{% load staticfiles %}
{% load django_select2_tags %}

{% block extra_header %}

<link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />
<link type="text/css" href="{{ STATIC_URL }}jquery-ui-bootstrap/css/custom-theme/jquery-ui-1.9.0.custom.css" rel="stylesheet" />
<link href="{% static "css/style.css" %}" rel="stylesheet">
<script src="{{ STATIC_URL }}jquery-1.7.2.min.js"></script>
	{% import_django_select2_css %}
	{% import_django_select2_js %}

{% endblock %}


{% block title %}{% trans "Create Group" %}{% endblock %}

{% block content %}
    <h1>{% trans "Create Group" %}</h1>
	<form action="{% url 'create_group' %}" method="post" enctype="multipart/form-data">
		   
		   {% csrf_token %}
		    {{ form.as_p }}
		    
		    <input type="submit" value="Create" />
	</form>    
<script>
	
	$(document).ready(function() { $("#id_members").select2(
		{ width: 'off',
		placeholder: "Select your Individuals", }
		); });
	

</script>
{% endblock %}


{% block javascript %}
      
<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<!-- Your stuff: Third-party javascript libraries go here -->
<script src="{{ STATIC_URL }}js/tooltip.js"></script>
<script src="{{ STATIC_URL }}js/popover.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}jquery-ui-bootstrap/js/jquery-ui-1.9.0.custom.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}jquery-ui-bootstrap/js/init-ui.js"></script>

      <!-- place project specific Javascript in this file -->
      <script src="{% static 'js/project.js' %}"></script>
{% endblock javascript %}
