{% extends "base.html" %}


{% load staticfiles %}
{% load i18n %}
{% load pagination_tags %}
{% load filter_extras %}

{% block extra_css %}

<script src="{{ STATIC_URL }}/js/filter_analysis.js"></script>

{% endblock %}


{% block title %}{% trans "Filter Analysis" %}{% endblock %}

{% block content %}

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          + Filter Options <img id="loading_img2" style="display:none;" src="{{ STATIC_URL }}img/ajax-loader.gif">
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse {% if not variants %}in{% endif %}">
      <div class="panel-body">
        {% include "filter_analysis/filter_form_oneclick.html" %}
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          + Genes {% if summary.genes %}{{summary.genes|length}}{% endif %}
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
			Genes:
			<br>
			{% for gene in summary.genes %} 
			<a href="?{{ query_string }}&gene_list={{ gene }}" target="_blank">{{ gene }}</a>,			
			{% endfor %}

      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          + Genes associated with diseases {% if genes_omim %}{{genes_omim|length}}{% endif %}
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse {% if variants %}in{% endif %}">
      <div class="panel-body">
       	
				<table class="table table-nonfluid table-striped table-bordered table-condensed">
				{% for gene in genes %}
					<tr>
				    {% if gene.diseases.all %}
					    <td><a href="?{{ query_string }}&gene_list={{ gene.symbol }}" target="_blank">{{ gene.symbol }} </a></td>
					    <td>
					    {% for disease in gene.diseases.all %} 
							{{disease.name}}<br>
						{% endfor %}
						</td>

				    {% endif %}
				    </tr>
				{% endfor %}
				</table>

				<h3>Genes at Omim</h3>
				{% for gene in genes_omim %}
					<a href="?{{ query_string }}&gene_list={{ gene.official_name }}" target="_blank">{{ gene.official_name }}</a>,
				{% endfor %}
				<table class="table table-nonfluid table-striped table-bordered table-condensed">
				{% for gene in genes_omim %}
					<tr>
				    <td><a href="?{{ query_string }}&gene_list={{ gene.official_name }}" target="_blank">{{ gene.official_name }}</a></td>

				    <td>
				    	{% for disease in gene.diseases.all %} 
							{{disease.name}}<br>
						{% endfor %}
				    </td>

				    </tr>
				{% endfor %}
				</table>
				<h3>Genes at Clinical Genomics Database</h3>
				{% for gene in genes_cgd %}
					<a href="?{{ query_string }}&gene_list={{ gene.GENE }}" target="_blank">{{ gene.GENE }}</a>,
				{% endfor %}
				<table  class="table table-nonfluid table-striped table-bordered table-condensed">
				
				{% for gene in genes_cgd %}
					
					<tr>
						<td><a href="?{{ query_string }}&gene_list={{ gene.GENE }}" target="_blank">{{ gene.GENE }}</td>
						<td> 						
						{% for phenotype in gene.CONDITIONS.all %} 
							{{phenotype.name}}<br>
						{% endfor %}

						</td>
					</tr>	
					

				{% endfor %}
				
				</table>

				<h3>Genes at HGMD</h3>
				<table  class="table table-nonfluid table-striped table-bordered table-condensed">
				
				{% for gene in genes_hgmd %}
					
					<tr>
						<td>{{gene.symbol}}</td>
						<td> 
						{% for phenotype in gene.diseases.all %} 
							{{phenotype.name}}<br>
						{% endfor %}
						</td>
					</tr>	
					

				{% endfor %}
				
				</table>

				
      </div>
    </div>
  </div>
</div>

{%if summary.n_variants %} <h4>Summary</h4>
	<p>
		Number of Variants: {{ summary.n_variants }}
		<br>
		Number of Genes: {{ summary.n_genes }}
		<br>
	</p>
	{% endif %} 

{% if summary.has_variants %}

	Export to: <a href="?{{ query_string }}&export=csv">CSV</a> 	

	<br>	

	{% with objects=variants %}
    {% include  "pagination.html" %}
    {% endwith %}

	<div style="overflow-x: scroll;overflow-y: scroll; max-height:400px;">
	
	{% include  "variants/variants.html" %}
	
	</div>
		
	{% with objects=variants %}
    {% include  "pagination.html" %}
    {% endwith %}

{% endif %}

{% endblock %}


{% block extra_js %}

<script type="text/javascript" src="/static/django_select2/django_select2.js"></script>

{% endblock %}
