{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% load paginator %}

{% block title %}{% trans "Apps" %}{% endblock %}

{% block content %}
<h1>Apps</h1>

    <div class="btn-group">
    </div>

<br><br>

<div class="row">
	<div class='col-md-6'>
		<a class="btn btn-primary" href="{% url 'import_from_hetzner' %}">Import from Hetzner</a>
		<a class="btn btn-primary" href="{% url 'add_sshkey_to_servers' %}">Add SSH Key to servers</a>
		<a class="btn btn-primary" href="{% url 'servers_check_status' %}">Check Status</a>
		<a class="btn btn-primary" href="{% url 'update_usage' %}">Update usage</a>
		<a class="btn btn-primary" href="{% url 'servers_reboot' %}">Reboot</a>
		<a class="btn btn-primary" href="{% url 'server_create' %}">Create Server</a>
	</div>

</div>
<br>

<form action="." method="post" id='apps_form'>
    {% csrf_token %}

<input type="hidden" id="action" name="action" value="">

<div class="row">
<a href='import'>Import Apps</a>
</div>

<div class="row">
<div class='col-md-6'>    

<div class="input-group input-group-sm">
<input class="form-control" type="text" name="query">
    <span class="input-group-btn">
      <button type="submit" class="btn btn-primary">Search</button>
    </span>
</div>

</div>
</div>

{% if webapp_list %}
<table class="table table-bordered table-striped table-condensed">
	<tr>
		<th>#<input type="checkbox" id="select_all"> ID</th>
		<th>status</th>
		<th width="20%">name</th>
		<th>Options</th>
		<th>data</th>
		<th width="20%">description</th>
		<th>source</th>
		<th>repository</th>

	</tr>
	{% for app in webapp_list %}
	<tr>
		<td><input type="checkbox" name="apps" class="apps" id="option{{app.id}}" value="{{app.id}}" /> {{app.id}}</td>
		<td>{{app.status}}</td>
		<td>{{app.name}}</td>
		<td>
			<a class="btn btn-primary" href="{% url 'app_view' app.id %}">View</a>
		</td>
		<td>{{app.data}}</td>
		<td>{{app.description}}</td>
		<td>{{app.source}}</td>
		<td>{{app.repository}}</td>


	</tr>
	{% endfor %}
</table>
</form>
Total:{{n_apps}}
{% else %}
You still have no apps created. <br>

Please create your apps into the system!

{% endif %}
{% endblock %}


{% block extra_js %}
<script type="text/javascript" >
$("#select_all").change(function() {
  $(".apps:checkbox").attr('checked', this.checked);
});
</script>
<script type="text/javascript">
    function submitform(action)
    {
       
       document.getElementById("action").value = action;
       document.getElementById("apps_form").submit();  
    }
</script>

{% endblock %}
