{% extends "base.html" %}


{% block content %}

<h1>Workers</h1>

<a href="{% url 'worker-launch' %}">Launch Worker</a>

<table class="table">
<thead>
    <tr>
        <th>#</th>
        <th>ID</th>
        <th>Name</th>
        <th>Status</th>
        <th>Type</th>
        <th>IP</th>
        <th>Created</th>
        <th>Modified</th>
        <th>Started</th>
        <th>Finished</th>
        <th>Execution Time</th>
        <th>Options</th>
    </tr>
</thead>
<tbody>
{% for worker in workers%}
<tr>
    <td>#</td>
    <td>{{ worker.id }}</td>
    <td>{{ worker.name }}</td>
    <td>{{ worker.status }}</td>
    <td>{{ worker.type }}</td>
    <td>{{ worker.ip}}</td>
    <td>{{ worker.creation_date }}</td>
    <td>{{ worker.modified_date }}</td>
    <td>{{ worker.started }}</td>
    <td>{{ worker.finished }}</td>
    <td>{{ worker.execution_time }}</td>
    <td>
        <a class='btn btn-primary' href="{% url 'worker-install' worker.id %}">Install</a>
        <a class='btn btn-primary' href="{% url 'worker-terminate' worker.id %}">Terminate</a>
        <a class='btn btn-primary' href="{% url 'worker-delete' worker.id %}">Delete</a>
    </td>
</tr>
{% endfor %}

</tbody>
</table>

{% endblock content %}
