{% extends "base.html" %}

{% block content %}
<h1>{{task.name}}</h1>


  <a class="btn btn-primary" href="#">Edit Task</a>
  <a class="btn btn-primary" href="{% url 'tasks-run' task.id %}">Run Task</a>
  <a class="btn btn-primary" href="{% url 'tasks-view' task.id %}">Refresh</a>
<p></p>


<div class="row">
<div class="col-md-12">
          <!-- Custom Tabs -->
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#tab_1" data-toggle="tab">Summary</a></li>
              <li><a href="#tab_2" data-toggle="tab">Input Files</a></li>
              <li><a href="#tab_3" data-toggle="tab">Output Files</a></li>
               <li><a href="#tab_4" data-toggle="tab">Output</a></li>
               <li><a href="#tab_5" data-toggle="tab">Tail</a></li>

              <li class="pull-right"><a href="#" class="text-muted"><i class="fa fa-gear"></i></a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab_1">
              {% include 'tasks/task_summary.html' %}
              </div>
              <div class="tab-pane" id="tab_2">
				{% with input_files=files %}     
                  {% include 'files/file_list.html' %}
                {% endwith %}
              </div>
              <div class="tab-pane" id="tab_3">
                
                {% with output_files as files %}     
                  {% include 'files/file_list.html' %}
                {% endwith %}

              </div>

              <div class="tab-pane" id="tab_4">
                
                  Lines:{{output_lines}}
                  {{output|linebreaks}}
                

              </div>
              <div class="tab-pane" id="tab_5">
                
                Lines:{{output_lines}}
                {{output_tail|linebreaks}}
              

            </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- nav-tabs-custom -->
        </div>
</div>
<div class="row">
    <div class="col-md-6">
    <h2>Output</h2>
    Lines:{{output_lines}}
    <h2>Tail</h2>
    {{output_tail|linebreaks}}

    
    </div>
</div>
{% endblock content %}