<table class="table">

<tr><th>ID</th><td>{{task.id}}</td></tr>
<tr><th>User</th><td>{{task.user}}</td></tr>
<tr><th>Name</th><td>{{task.name}}</td></tr>
<tr><th>Manifest</th><td>{{task.manifest}}</td></tr>
<tr><th>Status</th><td>{{task.status}}</td></tr>
<tr><th>Action</th><td>{{task.action}}</td></tr>
<tr><th>Md5</th><td>{{task.md5}}</td></tr>
<tr><th>Creation_date</th><td>{{task.creation_date}}</td></tr>
<tr><th>Modified_date</th><td>{{task.modified_date}}</td></tr>
<tr><th>Started</th><td>{{task.started}}</td></tr>
<tr><th>Finished</th><td>{{task.finished}}</td></tr>
<tr><th>Time Taken</th><td>{{task.time_taken}}</td></tr>

<tr><th>Files</th><td>{{task.files.all}}</td></tr>
<tr><th>Tail</th><td>Lines:{{output_lines}}<br>{{output_tail|linebreaks}}</td></tr>
<tr><th>Options</th><td></td></tr>

</table>