{% extends "base.html" %}

{% block content_header %}
    <section class="content-header">
      <h1>
        Samples
        <small>List of all samples</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
      </ol>
    </section>
{% endblock %}

{% block content %}

<form action="." method="post" name='samples_form' id='samples_form'>
  
    {% csrf_token %}
<input type="hidden" id="action" name="action" value="">
{% include 'samples/samples_navbar.html' %}

              <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                <thead>
                  <tr role="row">
                    <th>#<input type="checkbox" id="select_all"/></th>
                    <th>
                      id
                    </th>
                    <th>
                      Name
                    </th>
                    <th>
                      Prefix
                    </th>
                    <th style="width:350px;">Options</th>
                  </tr>
                  </thead>
                  <tbody>
                    {% for sample in samples %}

                    <tr role="row" class="odd">
                      <td><input type="checkbox" name="samples" value="{{sample.id}}"></td>
                      <td>{{sample.id}}</td>
                      <td>{{sample.name}}</td>
                      <td>{{sample.prefix }}</td>
                      <td>
                          <a href="" class="btn btn-success" role="button">Create Analysis</a>
                          <a href="" class="btn btn-success" role="button">View</a>
                          <a href="" class="btn btn-success" role="button">Edit</a>
                          <a href="" class="btn btn-success" role="button">Delete</a>
                      </td>
                    </tr>

                    {% endfor %}

                  </tbody>

                </table>

</form>

{% endblock %}

{% block extra_js %}
 <script type="text/javascript">
 $('#sample_status').change(function()
 {
     $('#sample_form').submit();
 });

$(document).ready(function(){
    $("#select_all").click(function(){
      var checked_status = this.checked;
      $("input[name='samples']").each(function(){
        this.checked = checked_status;
      });
    });
  });

</script>
<script type="text/javascript">
    function submitform(action)
    {
       
       document.getElementById("action").value = action;
       document.getElementById("samples_form").submit();
  
    }
</script>
{% endblock %}
