{% extends "base.html" %}

{% block content_header %}
<section class="content-header">
  <h1>
    Sample Groups
    <small>List of all samples groups</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
    <li class="active">Here</li>
  </ol>
</section>
{% endblock %}

{% block content %}

<table class='table'>
<thead>
  <tr>
    <th>Name</th>
    <th>Members</th>
    <th>Action</th>
  </tr>
</thead>
<tbody>
  {% for object in object_list %}
  
  <tr>
    <td><a href="{% url 'samplegroup-view' object.id %}">{{object}}</a></td>
    <td>{{ object.members.count }}</td>
    <td>
      <a class='btn btn-primary start' href="{% url 'samplegroup-view' object.id %}">View</a>
      <a class='btn btn-primary start' href="{{object.get_update_url}}">Update</a> 
      <a class='btn btn-primary start' href="{% url 'samplegroup_delete' object.id %}">Delete</a>
    </td></tr>
  {% endfor %}
</tbody>
</table>


{% endblock %}

{% block extra_js %}

{% endblock %}
