Package: python3-mendelmd
Source: mendelmd
Version: 1.2.4-1
Architecture: all
Maintainer: unknown <unknown@unknown>
Installed-Size: 1131
Depends: cython3, python3-boto3, python3-celery, python3-dj-database-url, python3-django, python3-django-allauth, python3-django-appconf, python3-django-celery-results, python3-django-crispy-forms, python3-django-debug-toolbar, python3-django-formtools, python3-django-gravatar2, python3-docutils, python3-gunicorn, python3-pandas, python3-pysam, python3-pyvcf, python3-sphinx, python3-wheel, python3:any
Section: python
Priority: optional
Description: UNKNOWN
