Source: mendelmd
Maintainer: unknown <unknown@unknown>
Section: python
Priority: optional
Build-Depends: python3-setuptools, python3-all, debhelper (>= 7.4.3)
Standards-Version: 3.9.1





Package: python3-mendelmd
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: UNKNOWN


