{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Mendel,MD" %}{% endblock %}

{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->

</div>
    

    <div class="container-fluid">
    <div class="row">

        <div class="col-md-6">
           <div class="hero-unit well">
            <div class="span12">
            <h1>Welcome to Mendel,MD!</h1>
            <p>This is an online tool created to help doctors and scientists to identify disease causing variants using exome/genome sequencing data from patients with mendelian disorders. </p>

            <p><a href="{% url 'account_signup' %}" class="btn btn-primary btn-large">Sign Up »</a> or <a href="{% url 'individual_create' %}" class="btn btn-primary btn-large">Upload a VCF</a></p>

            <li><a class="github-button" href="https://github.com/raonyguimaraes/mendelmd/fork" data-show-count="true" aria-label="Fork raonyguimaraes/mendelmd on GitHub">Fork</a></li>

          </div>
         </div>
        </div>
        <div class="col-md-6">

           <iframe src="https://player.vimeo.com/video/229202767" width="640" height="317" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

           <center><a href="http://mendel.medicina.ufmg.br"><img src="{{ STATIC_URL }}img/lgc2-1024x724.jpeg"></a></center>
        </div>


      </div>
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-6">
          <h2>Filter Analysis</h2>
          <p>With this tool, you can quickly identify candidate variants of causing Mendelian disorders in your affected individuals. By excluding variants according to different criterias such as low frequency in public databases (Ex. 1000genomes, dbSNP138 and Exome Sequencing Project) and scores of patogenicity (Ex. SIFT, POLYPHEN2 and CADD) you can quickly reduce the number of variants from your initial list from thousands to a few dozens using just a few clicks. </p>
          <p></p>
        </div>
        <div class="col-md-6">
          <h2>Family Analysis</h2>
          <p>With this tool, you can identify mendelian variants, de novo variants and compound heterozygous variants using exome data from a famillies (Ex. trios, quartets or even more individuals). This tool helps you tremendously to reduce the number of candidate variants when investigating mendelian disorders in Families. </p>
          <p></p>
       </div>
      </div>
    </div>

{% endblock %}
