
<div class="row">
    
<div class="col-md-8">

    <div class="box">
    <div class="box-header">
      <h3 class="box-title">Actions</h3>
    </div>
    <div class="box-body">
      
      <a class="btn btn-app" href='javascript: submitform("files", "check")'>
        <i class="fa fa-search"></i> Check
      </a>
      <a class="btn btn-app" href='javascript: submitform("files", "qc")'>
        <i class="fa fa-search"></i> QC
      </a>
      <a class="btn btn-app" href='javascript: submitform("files", "download")'>
        <i class="fa fa-cloud-download"></i> Download
      </a>
      <a class="btn btn-app" href='javascript: submitform("files", "delete")'>
        <i class="fa fa-trash-o"></i> Delete
      </a>
      <a class="btn btn-app">
        <i class="fa fa-edit"></i> Edit
      </a>
      <a class="btn btn-app">
        <i class="fa fa-play"></i> Play
      </a>
      <a class="btn btn-app">
        <i class="fa fa-repeat"></i> Repeat
      </a>
      <a class="btn btn-app">
        <i class="fa fa-pause"></i> Pause
      </a>
      <a class="btn btn-app">
        <i class="fa fa-save"></i> Save
      </a>
    </div>
    <!-- /.box-body -->
    </div>

</div>

</div>


<h2>Files</h2>

Number of files: {{n_files}}

<table class="table">
<thead>
<tr>
    <th>#<input type="checkbox" id="select_all_files"></th>
    <th>Name</th>
    <th>Sample</th>
    <th>Size</th>
    <th>Location</th>
    <th>Status</th>
    <th>
        Extension
        <select>
            <option value="all">ALL</option>
            <option value="fastq">FASTQ</option>
            <option value="bam">BAM</option>
            <option value="vcf">VCF</option>
        </select>
    </th>
    <th>Options</th>
</tr>
</thead>
<tbody>
{% for file in project.files.all %}
<tr>  
    <td>
        <input type="checkbox" name="files" class="files" id="option{{file.id}}" value="{{file.id}}" />
    </td>
    <td>
        <a href="{% url 'file-view' file.id %}">{{file.name}}</a>
    </td>
    <td>
      
      {% for sample in file.projectsample_set.all %}
        {{ sample.name}}
      {% endfor %}

    </td>
    <td>{{ file.human_size }}</td>
    <td>{{ file.location }}</td>
    <td>{{ file.status }}</td>
    <td>{{ file.file_type }}</td>
    <td></td>
    

</tr>
{% endfor %}
</tbody>
</table>

