{% extends "base.html" %}

{% block content %}
<h1>{{project.name}}</h1>

<a href="">Upload Files</a>
<a href="{% url 'projects-import-files' project.id %}">Import Files</a>

<h2>Files</h2>

<div class="row">

<div class="col-md-6">

    <div class="box">
    <div class="box-header">
      <h3 class="box-title">Actions</h3>
    </div>
    <div class="box-body">
      
      <a class="btn btn-app">
        <i class="fa fa-trash-o"></i> Delete
      </a>
      <a class="btn btn-app">
        <i class="fa fa-edit"></i> Edit
      </a>
      <a class="btn btn-app">
        <i class="fa fa-play"></i> Play
      </a>
      <a class="btn btn-app">
        <i class="fa fa-repeat"></i> Repeat
      </a>
      <a class="btn btn-app">
        <i class="fa fa-pause"></i> Pause
      </a>
      <a class="btn btn-app">
        <i class="fa fa-save"></i> Save
      </a>
      <a class="btn btn-app">
        <span class="badge bg-yellow">3</span>
        <i class="fa fa-bullhorn"></i> Notifications
      </a>
      <a class="btn btn-app">
        <span class="badge bg-green">300</span>
        <i class="fa fa-barcode"></i> Products
      </a>
      <a class="btn btn-app">
        <span class="badge bg-purple">891</span>
        <i class="fa fa-users"></i> Users
      </a>
      <a class="btn btn-app">
        <span class="badge bg-teal">67</span>
        <i class="fa fa-inbox"></i> Orders
      </a>
      <a class="btn btn-app">
        <span class="badge bg-aqua">12</span>
        <i class="fa fa-envelope"></i> Inbox
      </a>
      <a class="btn btn-app">
        <span class="badge bg-red">531</span>
        <i class="fa fa-heart-o"></i> Likes
      </a>
    </div>
    <!-- /.box-body -->
    </div>

</div>

</div>

<div class="row">

<div class="col-md-6">

<table class="table">
<thead>
<tr>
    <th>#<input type="checkbox" id="select_all"></th>
    <th>Name</th>
    <th>Location</th>
    <th>Status</th>
    <th>
        Extension
        <select>
            <option value="all">ALL</option>
            <option value="fastq">FASTQ</option>
            <option value="bam">BAM</option>
            <option value="vcf">VCF</option>
        </select>
    </th>
    <th>Options</th>
</tr>
</thead>
<tbody>
{% for file in project.files.all %}
<tr>
    
    
    <td>
        <input type="checkbox" name="files" class="files" id="option{{file.id}}" value="{{file.id}}" />
    </td>
    <td>
        <a href="{% url 'file-view' file.id %}">{{file.name}}</a>
    </td>
    <td>{{ file.location }}</td>
    <td>{{ file.status }}</td>
    <td>{{ file.extension }}</td>
    

</tr>
{% endfor %}
</tbody>
</table>

</div>

</div>

{% endblock content %}



{% block extra_js %}
<script type="text/javascript" >
$("#select_all").change(function() {
  $(".files:checkbox").attr('checked', this.checked);
});
</script>
{% endblock %}
