{% extends "base_dashboard.html" %}
{% load static i18n %}
{% load pagination_tags %}


{% block content %}
<!-- Content Header (Page header) -->
<div class="top-body">
			<div>
				<h2 class="d-inline-block">dashboard</h2>
				<span>control panel</span>
			</div>
            <a href="{% url 'individual_create' %}" class="upload-btn" style="background: #01579B; color: #fff;"><img src="{% static 'assets/white-cloud.svg' %}" class="mr-2">upload a vcf</a>
			<div class="upload-VCF">
				<div class="form-group">
					<select class="form-control" id="sel1">
						<option>New</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
					</select>
				</div>
				<a href="javascript:" class="submit-btn">Submit</a>
				<hr style="height: 22px; width: 2px; display: inline-block; background-color: #888888; margin: 0 36px 0 36px;">
				<div class="form-group">
					<select class="form-control" id="sel1">
						<option>Show on Grid</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
					</select>
				</div>
				<a href="javascript:" class="submit-btn">Submit</a>
			</div>
		</div>
    <!-- Main content -->

<form action="{% url 'bulk_action' %}" method="post">
    <div class="individuals">
        <h2 class="sub-header">Individuals</h2>
        Showing {{ n_individuals }} individuals
        {% with objects=individuals %}
        {% include  "pagination.html" %}
        {% endwith %}

        <div class="table-bg">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th style="width: 3%">
                        #
                        <input type="checkbox" id="select_all"></th>
                    <th>ID</th>
                    <th style="width: 10px;">Name</th>
                    {% if user.is_staff %}
                    <th>Options</th>
                    {% endif %}
                    <th>Uploaded By</th>
                    <th>Nº Lines</th>
                    <th>Created on</th>
                    <th>Modified on</th>
                    <th>Annotation Time</th>
                    <th>Insertion Time</th>
                    <th>Status</th>
                    {% if user.is_staff %}
                    <th>Operations</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for individual in individuals %}
                <tr>
                    <td>
                        <input type="checkbox" name="individuals" class="individuals" id="option{{individual.id}}"
                               value="{{individual.id}}"/>
                    </td>
                    <td>{{ individual.id }}</td>

                    <td>
                        <a href="{% url 'individual_view' individual.id %}">{{ individual.name|truncatechars:30 }}</a>
                    </td>
                    {% if user.is_staff %}
                    <td>
                        <ul>
                            <li>
                                <a href="{% url 'individual_edit' individual.id %}">Edit</a>
                            </li>
                            <li>
                                <a href="{% url 'individual_delete' individual.id %}">Delete</a>
                            </li>
                        </ul>
                    </td>
                    {% endif %}
                    <td>{{ individual.user.username }}</td>
                    <td>{{ individual.n_lines }}</td>
                    <td>{{ individual.creation_date }}</td>
                    <td>{{ individual.modified_date }}</td>
                    <td>{{ individual.annotation_time }}</td>
                    <td>{{ individual.insertion_time }}</td>

                    <td>{{ individual.status }}</td>
                    {% if user.is_staff %}
                    <td>
                        <a href="{% url 'individual_annotate' individual.id %}">
                            <button type="button" class="btn btn-primary"><i class="icon-align-left">Reannotate</i></button>
                        </a>
                        <a href="{% url 'individual_populate' individual.id %}">
                            <button type="button" class="btn btn-primary"><i class="icon-align-center">Repopulate</i>
                            </button>
                        </a>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% with objects=individuals %}
            {% include  "pagination.html" %}
            {% endwith %}
        </div>
    </div>
</form>
{% endblock %}

