{% load static i18n %}

<!DOCTYPE html>
<html>
<head>
    <title>Mendel,MD - Cloud Based Genome Analysis</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Mendel,MD an online tool for diagnosing patients with Mendelian Disorders">
    <meta name="author" content="Raony Guimaraes">
    <link rel="icon" href="{{ STATIC_URL }}/img/favicon.ico">

    <meta property="og:url"           content="https://mendelmd.org" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Mendel,MD - Cloud Based Genome Analysis" />
    <meta property="og:description"   content="Mendel,MD an online tool for diagnosing patients with Mendelian Disorders" />
    <meta property="og:image"         content="https://mendelmd.org/static/img/Gregor_Mendel_small.png" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
	<section class="header">
		<div class="container-fluid">
			<div class="navbar">
				<div class="logo d-inline-block">
                    <a href="{% url 'new_index' %}">
                        <img src="{% static 'assets/mendel,md.svg' %}" >
                    </a>
				</div>
				<nav class="navbar navbar-expand-lg navbar-light p-0">
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"><i class="fa fa-bars" aria-hidden="true"></i></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarNavDropdown">
						<ul class="navbar-nav">
							<li class="nav-item">
                                <a class="nav-link" href="{% url 'individual_create' %}">upload a VCF</a>
							</li>
							<li class="nav-item">
                                <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
							</li>
							<li class="nav-item">
                                <a class="nav-link" href="{% url 'oneclick' %}">1-click</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="https://mendelmd.readthedocs.io/en/latest/">docs</a>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								options 
								</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="{% url 'individuals_list' %}">Individuals</a>
									<a class="dropdown-item" href="{% url 'diseases_list' %}">Diseases</a>
									<a class="dropdown-item" href="{% url 'genes_list' %}">Genes</a>
								</div>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								tools 
								</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
									<a class="dropdown-item" href="{% url 'oneclick' %}">1-click</a>
									<a class="dropdown-item" href="{% url 'filter_analysis' %}">Filter Analysis</a>
									<a class="dropdown-item" href="{% url 'family_analysis' %}">Family Analysis</a>
									<a class="dropdown-item" href="{% url 'comparison' %}">Comparison</a>
								</div>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="https://forum.mendelmd.org/">forum</a>
							</li>
                            {% if not user.is_authenticated %}
                                <li class="list-inline-item"><a href="{% url 'account_login' %}" class="login-btn">log In</a></li>
                            {% else %}
                                <li class="list-inline-item"><a href="{% url 'account_logout' %}" class="login-btn">logout </a></li>
                            {% endif %}
						</ul>
					</div>
				</nav>
			</div>
		</div>
        {% block header %}
        {% endblock %}
    </section>

        <!-- BLOCK CONTENT BEGIN -->
        {% block content %}
        {% endblock %}
        <!-- BLOCK CONTENT END -->

	<footer class="footer text-center">
		<div class="container">
            <img class="footer-logo" src="{% static 'assets/mendel,md.svg' %}">
			<ul class="list-inline m-0 mb-5">
				<li class="list-inline-item"><a href="javascript:">upload a VCF</a></li>
				<li class="list-inline-item"><a href="dashboard.html">dashboard</a></li>
				<li class="list-inline-item"><a href="javascript:">1-click</a></li>
				<li class="list-inline-item"><a href="javascript:">docs</a></li>
				<li class="list-inline-item"><a href="javascript:">forum</a></li>
			</ul>
			<div class="social-icon">
				<ul class="list-inline mb-0">
					<li class="list-inline-item">
                        <a href="javascript:" class="p-0"><img src="{% static 'assets/facebook.svg' %}"></a>
					</li>
					<li class="list-inline-item">
						<a href="javascript:" class="p-0"><img src="{% static 'assets/twitter.svg' %}"></a>
					</li>
					<li class="list-inline-item">
						<a href="javascript:" class="p-0"><img src="{% static 'assets/instagram.svg' %}"></a>
					</li>
					<li class="list-inline-item">
						<a href="javascript:" class="p-0"></a><img src="{% static 'assets/google.svg' %}"></a>
					</li>
				</ul>
			</div>
			<p>Copyright ©2021 All rights reserved | mendel,MD</p>
		</div>
	</footer>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
</html>
