{% load static i18n %}

<!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <!-- <div class="user-panel">
        <div class="pull-left image">
          <img src="https://pbs.twimg.com/profile_images/709136133100208128/hKXmBrER_400x400.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>Raony Guimaraes</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div> -->
      <!-- search form -->
      <!-- <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form> -->
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li class="active treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>Main</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{% url 'upload' %}"><i class="fa fa-cloud-upload"></i> <span>Upload Files</span></a></li>
            <li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
            <li><a href="{% url 'projects-index' %}"><i class="fa fa-briefcase"></i> Projects</a></li>
            <li><a href="{% url 'analyses-index' %}" class="dropdown-toggle"><i class="fa analysis-icon"></i>
                <span>Analyses </span>
            </a></li>

          </ul>
        </li>



        <li  class="active treeview">
          <a href="#">
            <i class="fa fa-th"></i> <span>Analysis</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#">Ancestry Analysis</a></li>
                <li><a href="#">Assembly Pipeline</a></li>
                <li><a href="#">Bcbio</a></li>
                <li><a href="#">Vg</a></li>
                <li><a href="#">BWA</a></li>
                <li><a href="#">CNV Identification</a></li>
                <li><a href="#">Deep Variant</a></li>
                <li><a href="#">Freebayes</a></li>
                <li><a href="#">GATK Pipeline</a></li>
                <li><a href="#">Genome Reports</a></li>
                <li><a href="#">Graphtyper</a></li>
                <li><a href="#">HLA-Typing</a></li>
                <li><a href="#">MultiQC</a></li>
          </ul>
        </li>
        <li  class="active treeview">
          <a href="#">
            <i class="fa fa-th"></i> <span>Tools</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{% url 'oneclick' %}"><i class="fa fa-magic"></i> <span>1-Click</span></a></li>
            <li><a href="{% url 'filter_analysis' %}">Filter Analysis</a></li>
            <li><a href="{% url 'family_analysis' %}">Family Analysis</a></li>
            <li><a href="{% url 'comparison' %}">{% trans "Comparison" %}</a></li>
          </ul>
        </li>
        <li class="active treeview">
          <a href="#">
            <i class="fa fa-files-o"></i><span>Models</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{% url 'individuals_list' %}"><i class="fa fa-users"></i> <span>Individuals</span></a></li>
            <li><a href="{% url 'sample_index' %}"><i class="fa fa-user"></i> Samples</a></li>
            <li><a href="#"><i class="fa fa-users"></i> <span>Groups</span></a></li>
            <li><a href="{% url 'diseases_list' %}"><i class="fa "></i> Diseases</a></li>
            <li><a href="{% url 'genes_list' %}"><i class="fa "></i> Genes</a></li>
            <li><a href="{% url 'analyses-index' %}"><i class="fa "></i> <span>Cohorts</span></a></li>
            <li><a href="{% url 'cases_list' %}"><i class="fa "></i> <span>Cases</span></a></li>
            <li><a href="{% url 'analyses-index' %}"><i class="fa "></i> <span>Reports</span></a></li>
            <li><a href="{% url 'analyses-index' %}"><i class="fa "></i> <span>Diseases</span></a></li>
            <li><a href="{% url 'analyses-index' %}"><i class="fa "></i> <span>Phenotypes</span></a></li>
            <li><a href="{% url 'analyses-index' %}"><i class="fa "></i> <span>Genes</span></a></li>
            <li><a href="{% url 'files-index' %}"><i class="fa fa-files-o"></i>Files</a></li>
            <li><a href="{% url 'tasks-index' %}"><i class="fa fa-tasks"></i> Analyses</a></li>
            <li><a href="{% url 'tasks-index' %}"><i class="fa fa-tasks"></i> Jobs</a></li>
            <li><a href="{% url 'tasks-index' %}"><i class="fa fa-tasks"></i> Tasks</a></li>
            <li><a href="{% url 'worker-list' %}"><i class="fa fa-briefcase"></i> Workers</a></li>
            <li><a href="{% url 'servers_index' %}">{% trans "Servers" %}</a></li>
            <li><a href="{% url 'webapps_index' %}">{% trans "Apps" %}</a></li>
          </ul>
        </li>
                
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>