{% load static i18n %}

<!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <!-- <div class="user-panel">
        <div class="pull-left image">
          <img src="https://pbs.twimg.com/profile_images/709136133100208128/hKXmBrER_400x400.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>Raony Guimaraes</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div> -->
      <!-- search form -->
      <!-- <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form> -->
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li class="active treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>Main</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{% url 'individual_create' %}"><i class="fa fa-cloud-upload"></i> <span>Upload/Import Files</span></a></li>
            <li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
            <li><a href="{% url 'oneclick' %}"><i class="fa fa-magic"></i> <span>1-Click</span></a></li>
          </ul>
        </li>

        <li class="treeview">
          <a href="#">
            <i class="fa fa-files-o"></i><span>Models</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{% url 'individuals_list' %}">Individuals</a></li>
            <li><a href="{% url 'diseases_list' %}">Diseases</a></li>
            <li><a href="{% url 'genes_list' %}">Genes</a></li>
          </ul>
        </li>
        <li  class="treeview">
          <a href="#">
            <i class="fa fa-th"></i> <span>Tools</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{% url 'filter_analysis' %}">Filter Analysis</a></li>
            <li><a href="{% url 'family_analysis' %}">Family Analysis</a></li>
            <li><a href="{% url 'comparison' %}">{% trans "Comparison" %}</a></li>
          </ul>
        </li>
        <li>
          <a href="{% url 'cases_list' %}"><i class="fa fa-users"></i> <span> Cases</span></a>
        </li>
        <li  class="treeview">
          <a href="#">
            <i class="caret"></i> <span>Models</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{% url 'individuals_list' %}">Individuals</a></li>
            <li><a href="{% url 'diseases_list' %}">Diseases</a></li>
            <li><a href="{% url 'genes_list' %}">Genes</a></li>
            <li><a href="#">Cases</a></li>
            <li><a href="#">Cohorts</a></li>
            <li><a href="#">Samples</a></li>
            <li><a href="#">Tasks</a></li>
          </ul>
        </li>        
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>