/* line 5, ../sass/project.scss */
.alert-debug {
  color: black;
  background-color: white;
  border-color: #d6e9c6;
}

/* line 11, ../sass/project.scss */
.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

/* line 17, ../sass/project.scss */
.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

/* line 23, ../sass/project.scss */
.alert-warning {
  color: black;
  background-color: orange;
  border-color: #d6e9c6;
}

/* line 29, ../sass/project.scss */
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}


#filter_form input, #filter_form textarea, #id_1-dbsnp_build, #id_1-read_depth, #id_1-variants_per_gene, #id_1-chr, #id_1-pos{
  width:80px;
}
#id_individuals, #id_exclude_individuals, #id_func_class, #id_impact, #id_inheritance_model, #id_groups, #id_genelists, #id_exclude_groups, #id_exclude_genelists{
  width:240px;
}
#id_variant_type {
  width:270px;
} 
#id_genomes1000_option, #id_sift_option, #id_polyphen_option, #id_dbsnp_option, #id_2-dbsnp_freq_option, #id_variationserver_option, #id_read_depth_option, #id_qual_option, #id_variants_per_gene_option, #id_dbsnp_freq_option{
  width:60px;
}
#id_2-genomes1000_option, #id_1-dbsnp_option, #id_2-variationserver_option, #id_2-sift_option, #id_2-polyphen_option, #id_1-read_depth_option, #id_1-variants_per_gene_option, #id_individuals_per_pathway_option{
  width:60px;
}


.nav-justified {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.navbar-inverse .navbar-brand {
    color: #fff;
}
.navbar-inverse .navbar-nav > li > a {
    color: #62d938;
}
.navbar-inverse .navbar-nav > li > a:hover {
    color: #fff;
}

.nav-justified > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;
  font-weight: bold;
  color: #777;
  text-align: center;
  background-color: #e5e5e5; /* Old browsers */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e5e5e5));
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  background-image:      -o-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(top), color-stop(0%, #f5f5f5), to(#e5e5e5));
  background-image:         linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
  background-repeat: repeat-x; /* Repeat the gradient */
  border-bottom: 1px solid #d5d5d5;
}
.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
  background-color: #ddd;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
}
.nav-justified > li:first-child > a {
  border-radius: 5px 5px 0 0;
}
.nav-justified > li:last-child > a {
  border-bottom: 0;
  border-radius: 0 0 5px 5px;
}

@media (min-width: 768px) {
  .nav-justified {
    max-height: 52px;
  }
  .nav-justified > li > a {
    border-right: 1px solid #d5d5d5;
    border-left: 1px solid #fff;
  }
  .nav-justified > li:first-child > a {
    border-left: 0;
    border-radius: 5px 0 0 5px;
  }
  .nav-justified > li:last-child > a {
    border-right: 0;
    border-radius: 0 5px 5px 0;
  }
}



input[type="checkbox"] {
  margin:0px;
}
#id_genomes1000, #id_dbsnp_frequency, #id_esp_frequency, #id_sift, 
#id_polyphen, #id_dbsnp_build, #id_read_depth, #id_variants_per_gene, #id_hi_frequency, #id_variationserver_frequency{
/*  width:70px;*/
color:#f6931f; 
font-weight:bold;
}
#preconfig{
  width:110px;
}
#tablevariants{
  font-size: 10px;
}
#individual_grid{

}

#individual_grid .span2{
margin-top: 5px;
margin-bottom: 5px;
padding: 5px 0 5px 0;
background-color: #EEE;
text-align: center;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
min-height: 40px;
/*line-height: 15px;*/
vertical-align:middle;
}
/*.table-nonfluid {
   width: auto;
}*/
ul.nav li.dropdown:hover ul.dropdown-menu{
    display: block;    
}
ul.nav-tabs{
  font-weight:bold;
  text-transform: uppercase;

}

a.menu:after, .dropdown-toggle:after {
  content: none;
}
#g1000-slider-range, #dbsnp-slider-range, #esp-slider-range, #sift-slider-range, #pp2-slider-range, #rockbio-slider-range, #hi-slider-range, #cadd-slider-range, #mcap-slider-range, #ada-slider-range{
  width:240px;
  margin-top: 20px;
}
#g1000-slider-range_wz, #dbsnp-slider-range_wz, #esp-slider-range_wz, #sift-slider-range_wz, #pp2-slider-range_wz, #rockbio-slider-range_wz{
  width:240px;
}
#g1000-slider-range_oc, #dbsnp-slider-range_oc, #esp-slider-range_oc, #sift-slider-range_oc, #pp2-slider-range_oc, #rockbio-slider-range_oc{
  width:240px;
}
select {
border:none;
background-color: #fff;
}

#id_snp_list, #id_gene_list, #id_exclude_snp_list, #id_exclude_gene_list{
  width:240px;
  height: 100px;
}
#boxes{
margin: 5px;
padding: 5px;
background-color: #EEE;
text-align: center;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
min-height: 80px;
/*line-height: 80px;*/
vertical-align:middle;
}


.inheritance>button{
  font-size: 87%; 
  font-weight:bold;

}

/*loader*/
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}