
{% load static %}
{% load django_select2_tags %}

{% block extra_css %}
<link href="{% static "css/style.css" %}" rel="stylesheet">
<link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />
<link type="text/css" href="{{ STATIC_URL }}jquery-ui-bootstrap/css/custom-theme/jquery-ui-1.9.0.custom.css" rel="stylesheet" />

<script src="{{ STATIC_URL }}jquery-1.7.2.min.js"></script>

	{% import_django_select2_css %}
	{% import_django_select2_js %}

{% endblock %}
