{% extends 'ecommerce_app/base.html' %}

{% block content %}

    <div class="container">
        <div class="row">
            <h2>Available Products</h2>

            {% for product in all_products %}
                <div class="col-lg-4">
                    <h3><a href="{% url 'product_detail' product.pk product.slug %}">{{ product.name }}</a></h3>
                    <p>Price ${{ product.price }}</p>
                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}
