{% extends "base.html" %}

{% load staticfiles %}

{% load humanize %}
{% load i18n %}
{#% load sorting_tags %#}
{% load pagination_tags %}
{% load filter_extras %}


{% block title %}{% trans "Family Analysis" %}{% endblock %}

{% block extra_css %}
<script type="text/javascript">
	function formSubmit() {
		newwindow = document.getElementById("newwindow");
		if(newwindow.checked == true)
			document.getElementById("filterform").target = "_blank";
		document.getElementById("filterform").submit();
		//document.getElementById('loading_img').style.display = "block";
		$('#loading_img').show();
		$('#loading_img2').show();
	}
</script>
<link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />
<link type="text/css" href="{{ STATIC_URL }}jquery-ui-bootstrap/css/custom-theme/jquery-ui-1.9.0.custom.css" rel="stylesheet" />
<link href="{% static "css/style.css" %}" rel="stylesheet">
<script src="{{ STATIC_URL }}jquery-1.7.2.min.js"></script>

{% endblock %}

{% block content %}

<h1>Family Analysis</h1>
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" onClick="return false;">
          + Filter Options <img id="loading_img2" style="display:none;" src="{{ STATIC_URL }}img/ajax-loader.gif">
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse {% if not variants %}in{% endif %} ">
      <div class="panel-body">
        {% include "filter_analysis/filter_form_familyanalysis.html" %}
      </div>
    </div>
  </div>
</div>


<div class="panel-group" id="accordion2">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo" onClick="return false;">
          + Genes {% if summary.genes %}{{summary.genes|length}}{% endif %}
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse {% if variants %}in{% endif %} ">
      <div class="panel-body">
        Genes:
		<br>
		
			{% for gene in summary.genes %} 
				<a href="?{{ query_string }}&gene_list={{ gene }}" target="_blank">{{ gene }}</a>,
			{% endfor %}
		
      </div>
    </div>
  </div>
</div>


<div class="panel-group" id="accordion3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion3" href="#collapseThree" onClick="return false;">
          + Genes associated with diseases {% if genes_omim %}{{genes_omim|length}}{% endif %}
          </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        {% include "tabs/genes.html" %}		
      </div>
    </div>
  </div>
</div>


{%if variants %} 
	<h4>Summary</h4>
	<p>
		Number of Variants: {{ summary.n_variants }}
		<br>
		Number of Genes: {{ summary.n_genes }}
		<br>
	</p>
	{% endif %} 

{% if variants %}

	Export to: <a href="?{{ query_string }}&export=csv">CSV</a> 

	<br>	
	{% with objects=variants %}
    {% include  "pagination.html" %}
    {% endwith %}
	

	<div style="overflow-x: scroll;overflow-y: scroll; max-height:400px;">
	
	{% include  "tabs/variants_familyanalysis.html" %}
	
	</div>
		
	{% with objects=variants %}
    {% include  "pagination.html" %}
    {% endwith %}

{% endif %}
	


<script type="text/javascript">
	var selectmenu = document.getElementById("id_inheritance_option")
	selectmenu.onchange = function() {//run some code when "onchange" event fires
		var chosenoption = this.options[this.selectedIndex]//this refers to "selectmenu"
		// alert('test');
		oFormObject = document.forms['filterform'];
		if(chosenoption.value == "recessive") {
			oFormObject.elements["id_mutation_type"].value = 'homozygous';
			oFormObject.elements["id_variants_per_gene_option"].value = '';
			oFormObject.elements["id_variants_per_gene"].value = '';
		}
		if(chosenoption.value == "recessive denovo") {
			oFormObject.elements["id_mutation_type"].value = 'homozygous';
			oFormObject.elements["id_variants_per_gene_option"].value = '';
			oFormObject.elements["id_variants_per_gene"].value = '';
		}
		if(chosenoption.value == "dominant") {
			oFormObject.elements["id_mutation_type"].value = 'heterozygous';
			oFormObject.elements["id_variants_per_gene_option"].value = '';
			oFormObject.elements["id_variants_per_gene"].value = '';
		}
		if(chosenoption.value == "dominant denovo") {
			oFormObject.elements["id_mutation_type"].value = 'heterozygous';
			oFormObject.elements["id_variants_per_gene_option"].value = '';
			oFormObject.elements["id_variants_per_gene"].value = '';
		}
		if(chosenoption.value == "compound heterozygous") {
			oFormObject.elements["id_mutation_type"].value = 'heterozygous';
			oFormObject.elements["id_variants_per_gene_option"].value = '>';
			oFormObject.elements["id_variants_per_gene"].value = '2';
		}
		if(chosenoption.value == "compound heterozygous") {
			oFormObject.elements["id_mutation_type"].value = 'heterozygous';
			oFormObject.elements["id_variants_per_gene_option"].value = '>';
			oFormObject.elements["id_variants_per_gene"].value = '2';
		}
		if(chosenoption.value == "xlinked dominant") {
			oFormObject.elements["id_mutation_type"].value = 'heterozygous';
			oFormObject.elements["id_chr"].value = 'X';
			oFormObject.elements["id_variants_per_gene_option"].value = '';
			oFormObject.elements["id_variants_per_gene"].value = '';
		}
		if(chosenoption.value == "xlinked dominant denovo") {
			oFormObject.elements["id_mutation_type"].value = 'heterozygous';
			oFormObject.elements["id_chr"].value = 'X';
			oFormObject.elements["id_variants_per_gene_option"].value = '';
			oFormObject.elements["id_variants_per_gene"].value = '';
		}
		if(chosenoption.value == "xlinked recessive") {
			oFormObject.elements["id_mutation_type"].value = 'homozygous';
			oFormObject.elements["id_chr"].value = 'X';
			oFormObject.elements["id_variants_per_gene_option"].value = '';
			oFormObject.elements["id_variants_per_gene"].value = '';
		}
		if(chosenoption.value == "xlinked recessive denovo") {
			oFormObject.elements["id_mutation_type"].value = 'homozygous';
			oFormObject.elements["id_chr"].value = 'X';
			oFormObject.elements["id_variants_per_gene_option"].value = '';
			oFormObject.elements["id_variants_per_gene"].value = '';
		}
			
		

	}
	oFormObject = document.forms['filterform'];
	
	oFormObject.elements["genes_in_common"].checked = true;
	// oFormObject.elements["exclude_segdup"].checked = true;
	oFormObject.elements["read_depth_option"][1].selected = true;
	oFormObject.elements["read_depth"].value = '10';

	oFormObject.elements["impact"][1].selected = true;
	oFormObject.elements["impact"][0].selected = true;
	oFormObject.elements["dbsnp_option"].value = '>';
	oFormObject.elements["dbsnp_build"].value = '130';
	oFormObject.elements["genomes1000"].value = '0 - 0.005';
	oFormObject.elements["dbsnp_frequency"].value = '0 - 0.005';
	oFormObject.elements["esp_frequency"].value = '0 - 0.005';
</script>
{% endblock %}


{% block javascript %}
      
<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<!-- Your stuff: Third-party javascript libraries go here -->
<script src="{{ STATIC_URL }}js/tooltip.js"></script>
<script src="{{ STATIC_URL }}js/popover.js"></script>

{% for variant in variants.object_list %}
<script>
	$(function() {
		$('#variant{{ variant.id }}').popover({
			placement : 'left',
			html:true
		})
	})
</script>
{% endfor %}

<script type="text/javascript" src="{{ STATIC_URL }}jquery-ui-bootstrap/js/jquery-ui-1.9.0.custom.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}jquery-ui-bootstrap/js/init-ui.js"></script>

      <!-- place project specific Javascript in this file -->
      <script src="{% static 'js/project.js' %}"></script>
{% endblock javascript %}
