{% extends "dashboard.html" %}

{% load static %}
{% load i18n %}
{#% load sorting_tags %#}
{% load pagination_tags %}
{% load filter_extras %}

{% block title %}{% trans "Filter Analysis" %}{% endblock %}

{% block extra_css %}

<script src="{{ STATIC_URL }}/js/filter_analysis.js"></script>
<script src="{{ STATIC_URL }}/js/one_click.js"></script>

{% endblock %}

{% block content %}
<h1>1-Click</h1>

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          + Filter Options <img id="loading_img2" style="display:none;" src="{{ STATIC_URL }}img/ajax-loader.gif">
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse {% if not records %}in{% endif %} ">
      <div class="panel-body">
        {% include "filter_analysis/filter_form_oneclick.html" %}
      </div>
    </div>
  </div>
</div>

{% endblock %}


{% block extra_js %}

<script type="text/javascript" src="/static/django_select2/django_select2.js"></script>

{% endblock %}
